.backdrop {
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;    
}

.backdrop .backdrop-backcolor {
	background-color: #000000a3;
}

.movie-container {
	padding: 30px 30px;
}

	.movie-data-header * {
		color: white;		
	}

	.movie-data-header {
		padding-left: 0px;
		padding-right: 0px;
	}

.poster-movie {
	border-radius:5px;
	box-shadow: 0px 0px 5px black;
}

