/** CUSTOMIZING BULMA **/
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

	// Setup your Custom Colors
	$purple: hsl(275,87%,45%);
	$purple-invert: findColorInvert($purple);


// Add new color variables to the color map.
@import "bulma/sass/utilities/derived-variables.sass";

	$addColors: (
	  "purple":($purple, $purple-invert),
	);
	$colors: map-merge($colors, $addColors);

/** END CUSTOMIZATION **/



// Borde del logo 46e8ba a55fc1
@import "bulma/bulma";